{% extends "base.html" %}

{% block title %}Resilient Profile{% endblock %}

{% block body %}

<style>
    /* Added to override background image default from base.html */
    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{{ url_for('static', filename='img/header_background.png') }}");
        background-size: cover !important;
    }
</style>

<section class="investment-profile">
    <div class="investment-profile-header resilient-profile-header">
        <h2>Your Result: Resilient</h2>
        <img src="{{ url_for('static', filename='img/resilient_icon.png') }}" alt="Resilient Icon - TEMP">
    </div>
    <div class="investment-profile-page-info">
        <p><strong>Profile Report:</strong> You're like a high-performing manager, demanding high competence and professionalism in all aspects. 
            You're financially well-adjusted but might benefit from a gentle nudge towards more risky assets to grow your wealth further.</p>
        <p><strong>Advice for You:</strong> While your conscientious nature serves you well, consider relaxing it occasionally to explore more aggressive investment opportunities. 
            Leveraging competent information and performance from advisors can help you enjoy your wealth more.</p>
    </div>

    <div class="image-text-section">
        <button class="previous-button">&lt</button>

        <div class="slides-content-wrapper">
            <div class="slides">
            {% for item in slides_data %}
                <div class="image-text-block">
                    <img src="{{ item.dynamic_url }}" alt="Placeholder Image" onerror="this.onerror=null; this.src='{{ item.static_url }}';">
                    <p><strong>Investment Tip:</strong> {{ item.investment_tip }}<br><br>
                    <strong>Did You Know?:</strong> {{ item.did_you_know }}</p>
                </div>
            {% endfor %}
            </div>
        </div>
        <button class="next-button">&gt</button>
    </div>

    <div class="donation-investment-container">
        <div class="donation-section">
            <h3>Consider a Donation</h3>
            <p>Your financial awareness and success are impressive, 
                and we invite you to further your impact by donating to U.S.-oriented charities. 
                The U.S. and Russia share a strong history of cooperation, 
                and your support will enhance these efforts. 
                This opportunity allows you to support impactful causes with the assurance of competent management and transparency, 
                aligning with your high standards of professionalism.
                <br>
                <br>
                Here are some organizations that you may be interested in donating to:
            </p>
            <ul>
                <li><a href="https://womensfinancialeducation.org/donate/" target="_blank">Foundation for Women's Financial Literacy</a></li>
                <li><a href="https://everymothercounts.org/donate/" target="_blank">Every Mother Counts (EMC)</a></li>
                <li><a href="https://www.fema.gov/disaster/recover/volunteer-donate" target="_blank">Federal Emergency Management Agency (FEMA)</a></li>
            </ul>
        </div>
        <div class="investment-links">
            <h3>Investment Resources</h3>
            <p>For more investment information, consider the following organizations:</p>
            <ul>
                <li><a href="https://www.jpmorgan.com/" target="_blank">JP Morgan</a></li>
                <li><a href="https://www.schwab.com/" target="_blank">Charles Schwab</a></li>
                <li><a href="https://pillarwm.com/" target="_blank">Pillar Wealth Management</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- Javascript for button logic -->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const slidesContainer = document.querySelector('.slides');
        const previousButton = document.querySelector('.previous-button');
        const nextButton = document.querySelector('.next-button');
        const slides = Array.from(slidesContainer.children);

        let currentSlideIndex = 0; // Initialize the current slide index

        const buttonVisibility = () => {
            if (currentSlideIndex === 0) {
                previousButton.disabled = true ; // Hide previous button on first slide
            } else {
                previousButton.disabled = false; // Show previous button otherwise
            }

            if (currentSlideIndex === slides.length - 1) {
                nextButton.disabled = true; // Hide next button on last slide
            } else {
                nextButton.disabled = false; // Show next button otherwise
            }
        };

        const updateSlides = (index) => {
            if (slides[index]) {
                slides[index].scrollIntoView({ behavior: 'smooth' });
                currentSlideIndex = index; // Update the current slide index
                buttonVisibility(); // Update button visibility based on current slide index
            }
        };

        nextButton.addEventListener('click', () => {
            if (currentSlideIndex < slides.length - 1) {
                updateSlides(currentSlideIndex + 1); // Move to the next slide
            }
        });

        previousButton.addEventListener('click', () => {
            if (currentSlideIndex > 0) {
                updateSlides(currentSlideIndex - 1); // Move to the previous slide
            }
        });
    });
</script>
{% endblock %}