{% extends "base.html" %}

{% block title %}
Discover AI | OpenOcean.ai
{% endblock %}

{% block body %}
<h1>Discover More (Powered by: <span class="rainbow">Ollama</span>)</h1>
<div id="chat-box">
    <h2>Meche Bot</h2>
    <form method="POST" id="chat-form">
        {{ form.hidden_tag() }}
        {{ form.message.label }}{{ form.message() }}
        {{ form.send() }}
    </form>
    <div id="chat-messages">
        <!-- Existing messages should appear here -->
        {% for message in messages %}
            <p>{{ message.username }}: {{ message.message }}</p>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>

<script>
$(document).ready(function() {
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var chatForm = $('#chat-form');
    var chatBox = $('#chat-messages');
    var messageInput = $('input[name="message"]');

    function scrollChatToBottom() {
        chatBox.scrollTop(chatBox[0].scrollHeight);
    }

    function addMessageToChat(username, message, timestamp) {
        var newMessage = $('<p>').text(username + " (" + timestamp + "): " + message);
        chatBox.append(newMessage);
        scrollChatToBottom();
    }

    chatForm.on('submit', function(e) {
        e.preventDefault();
        var msg = messageInput.val().trim();
        if (msg === "") {
            return false;
        }
        
        // Clear input immediately
        messageInput.val('');
        
        // Add user message to chat
        addMessageToChat('You', msg, new Date().toLocaleTimeString());

        $.ajax({
            url: "{{ url_for('get_ai_response') }}",
            method: "POST",
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify({message: msg}),
            headers: {
                'X-CSRFToken': "{{ csrf_token() }}"
            },
            success: function(data) {
                if (data.error) {
                    console.log('AI responded with error:', data.error);
                    addMessageToChat('System', 'Error: ' + data.error, new Date().toLocaleTimeString());
                } else {
                    addMessageToChat('AI', data.ai_response, new Date().toLocaleTimeString());
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log('Error:', textStatus, errorThrown);
                addMessageToChat('System', 'Error: Unable to get AI response', new Date().toLocaleTimeString());
            }
        });
        return false;
    });

    socket.on('message', function(msg) {
        addMessageToChat(msg.username, msg.message, msg.timestamp);
    });
});
</script>
{% endblock %}