{% extends "base.html" %}

{% block title %}
Forgot Password | TrustVest
{% endblock %}

{% block body %}
<div class="form-wrapper">
    <h2>Reset Password</h2>
    <form method="POST">
      {{ form.hidden_tag() }}
        <p>Please enter the email of your account.</p>
        <div class="form-group">
            {{ form.email.label }} 
            {{ form.email(class="form-input") }}
        </div>
    
        <div class="form-group">
            {{ form.submit(class="submit-btn") }}
        </div>

    </form>
</div>
{% endblock %}