{% extends "base.html" %}

{% block title %}
Personality Test | OpenOcean.ai
{% endblock %}

{% block body %}
<h2>Personality Test</h2>

<form method="POST">
    {{ form.hidden_tag() }}

    {% for trait in questions %}
        <h3>{{ trait.capitalize() }}</h3>

        {% for question, field_name in questions[trait] %}
            <p>{{ form[field_name].label }}</p>
            <p>{{ form[field_name]() }}</p>
        {% endfor %}
    {% endfor %}

    {{ form.submit(class="submit-btn") }}
</form>
{% endblock %}