{% extends "base.html" %}

{% block title %}
Personality Test | OpenOcean.ai
{% endblock %}

{% block body %}
<div class="test-wrapper">
    <h2>Personality Test</h2>
    <form method="POST" id="personality-test-form">
        {{ form.hidden_tag() }}
        {% for group_idx, group in enumerate(question_groups) %}
            <div class="question-group" id="group-{{ group_idx }}" {% if group_idx != 0 %}style="display:none"{% endif %}>
                {% for trait, question, field_name in group %}
                    <div class="question-section">
                        <p>{{ question }}</p>
                        <p>{{ form[field_name]() }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="button" class="next-btn" onclick="showNextGroup()">Next</button>
        {{ form.submit(class="submit-btn", style="display:none") }}
    </form>
</div>
<script>
    let currentGroupIdx = 0;
    function showNextGroup() {
        const currentGroup = document.getElementById(`group-${currentGroupIdx}`);
        currentGroup.classList.remove('fade-in');
        currentGroup.classList.add('fade-out');
        
        currentGroupIdx++;
        const nextGroup = document.getElementById(`group-${currentGroupIdx}`);
        
        if (nextGroup) {
            setTimeout(() => {
                currentGroup.style.display = 'none';
                nextGroup.style.display = 'block';
                nextGroup.classList.add('fade-in');
            }, 500); // Match this timeout to the duration of the CSS animation
        } else {
            setTimeout(() => {
                document.querySelector('.next-btn').style.display = 'none';
                document.querySelector('.submit-btn').style.display = 'block';
            }, 500); // Match this timeout to the duration of the CSS animation
        }
    }
</script>
{% endblock %}