{% extends "base.html" %}
{% block title %}
{{ user.username }}'s Profile | OpenOcean.ai
{% endblock %}
{% block body %}
<h2>{{ user.username }}'s Profile</h2>
<p>Email: {{ user.email }}</p>
<p>Birthdate: {% if user.birth_date %}{{ user.birth_date.strftime('%Y-%m-%d') }}{% else %}Not Set{% endif %}</p>  <!-- New birthdate display -->

<p>Gender: {% if user.gender %}{{ user.gender }}{% else %}Not Set{% endif %}</p>
<p>Pronouns: {% if user.pronouns %}{{ user.pronouns }}{% else %}Not Set{% endif %}</p>

<p>Openness: {{ user.openness }}</p>
<p>Conscientiousness: {{ user.conscientiousness }}</p>
<p>Extraversion: {{ user.extraversion }}</p>
<p>Agreeableness: {{ user.agreeableness }}</p>
<p>Neuroticism: {{ user.neuroticism }}</p>

<!-- Add button to go to edit profile page -->
{% if user == current_user %}
    <a href="{{ url_for('edit_profile') }}" class="btn btn-primary">Edit Profile</a>
{% endif %}
{% endblock %}