{% extends "base.html" %}
{% block title %}
{{ user.username }}'s Profile | OpenOcean.ai
{% endblock %}
{% block body %}
<div class="profile-header">
    <h2>{{ user.username }}'s Profile</h2>
</div>

<div class="profile-info">
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Birthdate:</strong> {% if user.birth_date %}{{ user.birth_date.strftime('%Y-%m-%d') }}{% else %}Not Set{% endif %}</p>
    <p><strong>Gender:</strong> {% if user.gender %}{{ user.gender }}{% else %}Not Set{% endif %}</p>
    <p><strong>Pronouns:</strong> {% if user.pronouns %}{{ user.pronouns }}{% else %}Not Set{% endif %}</p>
</div>

{% if user == current_user %}
    <div class="profile-edit-button">
        <a class="btn-info" href="{{ url_for('edit_profile') }}">Edit Profile</a>
    </div>
{% endif %}

<hr> <!-- Optional: This can be styled using CSS -->

<div class="profile-traits">
    <p><strong>Openness:</strong> {{ user.openness }}</p>
    <p><strong>Conscientiousness:</strong> {{ user.conscientiousness }}</p>
    <p><strong>Extraversion:</strong> {{ user.extraversion }}</p>
    <p><strong>Agreeableness:</strong> {{ user.agreeableness }}</p>
    <p><strong>Neuroticism:</strong> {{ user.neuroticism }}</p>
</div>

<hr> <!-- Optional: This can be styled using CSS -->

<!-- Investment Profile Information -->
<div class="investment-profile-info">
    <p><strong>Investment Profile:</strong> 
        {% if user.investment_profile %}
            {{ user.investment_profile.replace('_', ' ').title() }}
        {% else %}
            Determined after test is taken
        {% endif %}
    </p>
</div>

{% if user.investment_profile %}
    <div class="investment-profile-button">
        <a class="btn btn-info" href="{{ url_for(user.investment_profile) }}">View Investment Profile</a>
    </div>
{% endif %}

{% endblock %}