<!-- register.html -->
{% extends "base.html" %}
{% block title %}
Register | OpenOcean.ai
{% endblock %}
{% block body %}
<div class="form-wrapper">
  <h2>Register</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username.label }} 
      {{ form.username(class="form-input") }}
    </div>
    <div class="form-group">
      {{ form.email.label }} 
      {{ form.email(class="form-input") }}
    </div>
    <div class="form-group">
      {{ form.birth_date.label }} 
      {{ form.birth_date(class="form-input") }}
    </div>
    <div class="form-group">
      {{ form.password.label }} 
      {{ form.password(class="form-input") }}
    </div>
    <div class="form-group">
      {{ form.confirm_password.label }} 
      {{ form.confirm_password(class="form-input") }}
    </div>
    <div class="form-group">
      {{ form.gender.label }}
      <div class="gender-options">
        {% for subfield in form.gender %}
          <div class="form-radio">
            {{ subfield }} {{ subfield.label }}
          </div>
        {% endfor %}
      </div>
    <div class="form-group">
      {{ form.submit(class="submit-btn") }}
    </div>
  </form>
</div>
{% endblock %}