{% extends "base.html" %}

{% block title %}
2FA Setup | TrustVest
{% endblock %}

{% block body %}
<div class="setup-two-factor-container">
    <div class="form-wrapper">
        <h2>2-Factor Authenication Setup</h2>
        <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.enable.label }}
            <div class="enable-options">
            {% for subfield in form.enable %}
                <div class="enable-radio-options">
                {{ subfield }} {{ subfield.label }}
                </div>
            {% endfor %}
            </div>
        </div>
        
        <div class="form-group">
            {{ form.submit(class="submit-btn") }}
        </div>

        </form>
    </div>
</div>

{% endblock %}